*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.clear {
    clear: both;
}
.text-white{
    color: white !important;
}
#nav {
    display: inline-block
}
#nav, .subnav{
    list-style-type: none;
}
#header{
    height: 46px;
    background-color: yellow;
}
#nav > li {
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a {
    color: black;
    text-transform: uppercase;
}
#nav li:hover .subnav{
    display: block;
}
#nav li a{
    text-decoration: none;    
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
     color: black;
    background-color: #ccc;
}
   
#nav .subnav {
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    background-color: white;
    position: absolute;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav .subnav a{
    color: black;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-down{
    font-size: 10px;
}
#header .menu-mobile-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .menu-mobile-btn,
#header .search-btn{
    float: right;
    padding: 0 21px;
    line-height: 46px;
}
#header .menu-mobile-btn:hover,
#header .search-btn:hover{
    background-color: #ccc;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon{
    color: black;
    font-size: 20px;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}
#img {
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(./img/eaut2.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
#content .about-section{
    width: 800px;
    padding: 70px 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#content .section-heading{
    font-size: 50px;
    text-align: center;
}
#content .sub-heading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.5;
}
#content .sub-section{
    text-align: justify;
    font-size: 20px;
}
#content .sub-img{
    text-align: center;
}
.ban-lanh-dao #slide{
    justify-content: center;
}
.ban-lanh-dao .chuc-danh{
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 900;
}
.ban-lanh-dao .nganh-hoc{
    font-size: 20pt;
    color: #9D9FA2;
    text-transform: uppercase;
}
.ban-lanh-dao .ten{
    font-size: 3rem;
    color: #ffca05;
    font-weight: 900;
}
.w-100{
    width: 100% !important;
}
.ban-lanh-dao .chuc-danh-1{
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 900;
}
.ban-lanh-dao .nganh-hoc-1{
    font-size: 20pt;
    color: #9D9FA2;
    text-transform: uppercase;
}
.ban-lanh-dao .ten-1{
    font-size: 2.7rem;
    color: #ffca05;
    font-weight: 900;
}
.w-100{
    width: 100% !important;
}
.ban-lanh-dao .chuc-danh-2{
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: 900;
}
.ban-lanh-dao .nganh-hoc-2{
    font-size: 20pt;
    color: #9D9FA2;
    text-transform: uppercase;
}
.ban-lanh-dao .ten-2{
    font-size: 2.7rem;
    color: #ffca05;
    font-weight: 900;
}
.w-100{
    width: 100% !important;
}
#content .about-section1{
    width: 800px;
    padding: 70px 60px;
    margin-left: auto;
    margin-right: auto;
}
.event-section{
    background-color: black;
}
.event-list{
    padding-bottom: 30px;
}
.event-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}
.event-img{
    width: 100%;
}
.event-img:hover{
    opacity: 0.6;
}
.event-content{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}
.event-heading{
    font-size: 20px;
    font-weight: 700;
}
.event-time{
    margin-top: 15px;
    color: #757575;
}
.event-description{
    margin-top: 15px;
    font-size: 20px;
}
.event-btn{
    color: white;
    background-color: black;
    text-decoration: none;
    display: inline-block;
    padding: 11px 16px;
    margin-top: 15px;
}
.event-btn:hover{
    color: black;
    background-color: #ccc;
}
.about-section2{
    padding-top: 30px;
    text-align: center;
}
.self-contact{
    font-size: 15px;
}
.self-contact .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    width: 100%;
}
.self-contact .form-submit-btn{
    background-color: black;
    color: white;
    border: 1px solid black;
    padding: 10px 16px;
    float: right;
}
.self-contact .form-submit-btn:hover{
    background-color: #ccc;
    color: black;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
#footer .social-icon{
    font-size: 24px;
}
#footer .social-icon a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .social-icon a:hover{
    color: rgba(0, 0, 0, 0.3);
}